{% extends 'email/emailBase.html.twig' %}

{% block content %}
  <tr>
    <td>
      <p style="{{ paragraphStyle }}">Hello, we have received your request to change your password
        on {{ project_name }}</p>
      <p style="{{ paragraphStyle }}">
        <a href="{{ frontend_base_url }}/reset-password?token={{ resetToken }}">Click here to reset your password</a>.
        This link is valid for three hours.
      </p>
      <p style="{{ paragraphStyle }}">If you didn't request a password change, you can ignore this message and continue
        to use your current password.</p>
      <p style="{{ paragraphStyle }}">Kind regards, {{ project_name }} team</p>

    </td>
  </tr>
{% endblock %}
